<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-可变数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>05-集合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>06-字典.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>07-NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>08-NSDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>计算单个文件的代码行数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>计算文件夹下所有代码文件的行数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>集合类型总结.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2706B7CD1D64330200539941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2706B7DB1D64332F00539941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2706B7EA1D64496800539941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2706B7F51D645B4E00539941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2706B8031D64708900539941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2706B8111D65846D00539941</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274049DF1D65AA1A00D7F462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274049EA1D65AA2700D7F462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E348601D65992E001EFA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E3486B1D659D7F001EFA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E348761D65A727001EFA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E47D431D65941E00EDA420</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
